header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 20px;
  background-color: #4267b2;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 16px;
}

.chat_stats {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.last_time_message {
  width: 50%;
  text-align: right;
}